name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  compile:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Maven
      run: mvn compile
      
  security-check:
    runs-on: self-hosted
    needs: compile
    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        cat << EOF | sudo tee -a /etc/yum.repos.d/trivy.repo
        [trivy]
        name=Trivy repository
        baseurl=https://aquasecurity.github.io/trivy-repo/rpm/releases/\$basearch/
        gpgcheck=1
        enabled=1
        gpgkey=https://aquasecurity.github.io/trivy-repo/rpm/public.key
        EOF
        sudo yum -y update
        sudo yum -y install trivy
      
    - name: Trivy FS Scan
      run: trivy fs --format table -o fs-report.json .

    - name: Gitleaks Installation
      run: |
        curl -sSL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64 -o gitleaks
        chmod +x gitleaks
        mkdir -p ~/bin
        mv gitleaks ~/bin/
        echo 'export PATH=$PATH:~/bin' >> ~/.bashrc
        source ~/.bashrc
        gitleaks --version      

    - name: Gitleaks Code Scan
      run: gitleaks detect source . -r gitleaks-report.json -f json
