name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  compile:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build User
      working-directory: Users
      run: mvn clean install -DskipTests
      
    - name: Build Cart
      working-directory: ShopCartH2
      run: mvn clean install -DskipTests
      
    - name: Build Items
      working-directory: ShopItemH2
      run: mvn clean install -DskipTests
      
  security-check:
    runs-on: self-hosted
    needs: compile
    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        cat << EOF | sudo tee -a /etc/yum.repos.d/trivy.repo
        [trivy]
        name=Trivy repository
        baseurl=https://aquasecurity.github.io/trivy-repo/rpm/releases/\$basearch/
        gpgcheck=1
        enabled=1
        gpgkey=https://aquasecurity.github.io/trivy-repo/rpm/public.key
        EOF
        sudo yum -y update
        sudo yum -y install trivy
      
    - name: Trivy FS Scan
      run: trivy fs --format table -o fs-report.json .

  build_project_sonar_scan:
    runs-on: self-hosted
    needs: security-check
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'termurin'
        cache: 'maven'

    - name: Build Project - User
      working-directory: Users
      run: mvn clean package
    - name: Build Project - Cart
      working-directory: ShopCartH2
      run: mvn clean package
    - name: Build Project - Item
      working-directory: ShopItemH2
      run: mvn clean package

    - uses: actions/checkout@v4
      with:
        fetch=depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        SONAR_HOST_URL: ${{vars.SONAR_HOST_URL}}


    - name: SonarQube Quality Gate Check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      with:
        pollingTimeoutSec: 600
      env: 
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        SONAR_HOST_URL: ${{vars.SONAR_HOST_URL}}
        
