name: CI/CD Pipeline 

on:
  push:
    branches: [ "master" ]

jobs:
  integrating-prisma:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run Prisma Cloud 
        id: prisma-cloud
        uses: bridgecrewio/checkov-action@master
        continue-on-error: true
        env:
          PRISMA_API_URL: https://api.ind.prismacloud.io
        with:
          api-key: ${{ secrets.BC_API_KEY }}
          
  compile:
    runs-on: self-hosted
    needs: integrating-prisma
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build User
      working-directory: Users
      run: mvn clean install -DskipTests
      
    - name: Build Cart
      working-directory: ShopCartH2
      run: mvn clean install -DskipTests
      
    - name: Build Items
      working-directory: ShopItemH2
      run: mvn clean install -DskipTests
      
  security-check:
    runs-on: self-hosted
    needs: compile
    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        cat << EOF | sudo tee -a /etc/yum.repos.d/trivy.repo
        [trivy]
        name=Trivy repository
        baseurl=https://aquasecurity.github.io/trivy-repo/rpm/releases/\$basearch/
        gpgcheck=1
        enabled=1
        gpgkey=https://aquasecurity.github.io/trivy-repo/rpm/public.key
        EOF
        sudo yum -y update
        sudo yum -y install trivy
      
    - name: Trivy FS Scan
      run: trivy fs --format table -o fs-report.json .

  build_project_sonar_scan:
    runs-on: self-hosted
    needs: security-check
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build Project - User
      working-directory: Users
      run: mvn clean package
    - name: Upload User jar artifact
      uses: actions/upload-artifact@v4
      with:
        name: app1-jar
        path: /tmp/actions-runner/_work/gitHubActions-shopping-project/gitHubActions-shopping-project/Users/target/*.jar
        
    - name: Build Project - Cart
      working-directory: ShopCartH2
      run: mvn clean package
    - name: Upload Cart jar Artifact
      uses: actions/upload-artifact@v4
      with:
        name: app2-jar
        path: /tmp/actions-runner/_work/gitHubActions-shopping-project/gitHubActions-shopping-project/ShopCartH2/target/*.jar
        
    - name: Build Project - Item
      working-directory: ShopItemH2
      run: mvn clean package
    - name: Upload Item jar atifacts
      uses: action/upload-artifact@v4
      with:
        name: app3-jar
        path: /tmp/actions-runner/_work/gitHubActions-shopping-project/gitHubActions-shopping-project/ShopItemH2/target/*.jar

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        SONAR_HOST_URL: ${{vars.SONAR_HOST_URL}}


    - name: SonarQube Quality Gate Check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      with:
        pollingTimeoutSec: 600
      env: 
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        SONAR_HOST_URL: ${{vars.SONAR_HOST_URL}}

  build_docker-image-and-push:
    runs-on: self-hosted
    needs: build_project_sonar_scan
    steps:
    - uses: action/checkout@v4
    - name: Download JAR
      uses: action/download-artifact@v4
      with:
        name: app1-jar
        path: /tmp/actions-runner/_work/gitHubActions-shopping-project/gitHubActions-shopping-project/Users/target/
        
     
      
    
  
